numpy<2
pandas
matplotlib
seaborn
scikit-learn
tensorflow-intel==2.16.1
tensorboard==2.16.2
keras
scipy
requests
yfinance
streamlit
plotly
gymnasium
stable-baselines3
cvxpy
torch
inotify  # Ensure this library is what you intend; inotify itself typically isn't a Python package
